{% extends "paladin/base.html" %}
{% load staticfiles %}


{% block breadcrumbs %}
					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="/"><i class="icon-home2 position-left"></i>Home</a></li>
							
							<li class="active">Statistiche del sistema</li>
						</ul>

						<ul class="breadcrumb-elements">
							<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-gear position-left"></i>
									Settings
									<span class="caret"></span>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
									<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
									<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
								</ul>
							</li>
						</ul>
					<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
					</div>


{% endblock %}

{% block content %}
	
				<!-- Content area -->
				<div class="content">
					<h1>Screenshots</h1>
					

					<!-- Dashboard content -->
					{{frame}}
					<!-- /dashboard content -->
					

					<!-- Footer -->
					<div class="footer text-muted">
						© 2015. <a href="#">Paladin 2</a> by <a href="http://www.fub.it" target="_blank">Fondazione Ugo Bordoni</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->
{% endblock %}


{% block script %}


				
{% endblock %}